lint:
  name: lint
  runs-on: {{ .Config.GithubRunner }}
  steps:
    - name: Check out code
      uses: actions/checkout@{{ .Config.ActionsCheckoutVersion }}
    - name: golangci-lint
      uses: golangci/golangci-lint-action@{{ .Config.GolangciLintVersion }}
      with:
        version: latest
        working-directory: {{ `${{ inputs.root }}` }}