# {{ .RunData.AutogenMsg }}
name: Lint Workflows
description: Lint workflow files using reviewdog

on:
  pull_request:
    branches:
      - {{ .Config.PrimaryBranch }}

jobs:
  actionlint:
    runs-on: {{ .Config.GithubRunner }}
    steps:
      - uses: actions/checkout@{{ .Config.ActionsCheckoutVersion }}
      - uses: reviewdog/action-actionlint@{{ .Config.ReviewdogActionActionlintVersion }}
        with:
          fail_on_error: true